<template>
    <v-app id='app'>
        <div class="container">
        <router-link  to="/">Home</router-link>
        <router-link  to="/about">About</router-link>
        <router-view></router-view>
        </div>
    </v-app>
</template>

<script>
import home from "../js/components/Home"

export default {
    name: "App",
    components: {
        home,
    },
};
</script>